.contact-container {
  width: 100%;
  margin-top: 150px;
  padding: 0 50px 0 200px;
  margin-bottom: 150px;
}
.contact-wrapper {
  margin: 0 auto;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
}

.contact-content-right {
  width: 700px;
  height: 450px;
  background-image: url("../../assets/images/map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 250px;
}

.contact-content-right-wrapper {
  font-family: "Circe";
  font-style: normal;
  color: #fff;
  width: 416px;
  height: 349px;
  background: #5b5b5b;
  position: absolute;
  top: 50px;
  right: 300px;
  padding: 40px 30px 40px 40px;
}

.contact-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  display: block;
}
.contact-item:nth-child(2) {
  margin: 20px 0 25px;
}
.contact-icon {
  color: var(--color-secondary);
  margin-right: 15px;
}
.title-work-schedule {
  font-weight: 700;
  font-size: 20px;
}
.work-schedule-item {
  font-weight: 700;
  font-size: 18px;
}
.work-schedule-item:nth-last-child(2) {
  margin: 15px 0;
}
.work-schedule-item span {
  font-weight: 400;
}
.contact-btns {
  height: 42px;
  display: flex;
  align-items: center;
}
.contact-btn {
  border: 1px solid #ffffff;
  width: 145px;
  height: 42px;
  background: transparent;
  cursor: pointer;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.contact-btn:nth-child(1) {
  margin-right: 20px;
}
.contact-btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.contact-content-left {
  width: 416px;
  height: 314px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 50px;
}

.left-item-title {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: var(--color-secondary);
  display: flex;
  align-items: baseline;
}
.left-item-subtitle {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--color-secondary);
  margin-left: 15px;
}
.left-item-desc {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-primary);
  grid-column: 1 / span 2;
}
