.menu-content {
  display: flex;
  /* margin-left: 200px; */
  margin-top: 80px;
  margin-bottom: 40px;
}
.menu-item {
  width: 416px;
  height: 240px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item:nth-child(2) {
  margin-left: 24px;
}
.menu-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40px;
}
.menu-item-title {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.menu-item-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #b59571;
  display: block;
  margin-left: 30px;
}

@media only screen and (max-width: 1100px) {
  .menu-content {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .menu-item {
    width: 275px;
    height: 180px;
  }
  .menu-item:nth-child(2) {
    margin-left: 24px;
  }
  .menu-item-content {
    top: 30px;
  }
  .menu-item-content img {
    width: 245px;
  }
  .menu-item-title {
    font-size: 12px;
    margin-top: 24px;
  }
  .menu-item-title::after {
    width: 40px;
    height: 2px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .menu-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 48px;
    height: 150px;
    width: 100%;
    /* padding: 0 25px; */
  }
  .menu-item {
    width: 150px;
    height: 100px;
  }
  .menu-item:nth-child(2) {
    margin-left: 15px;
    margin-bottom: 0;
  }
  .menu-item-content {
    top: 20px;
  }
  .menu-item-content img {
    width: 130px;
  }
  .menu-item-title {
    font-size: 12px;
    margin-top: 24px;
    padding: 0 20px;
  }
  .menu-item-title::after {
    width: 40px;
    height: 2px;
    margin-left: 10px;
  }
}
