.navbar {
  /* width: 410px; */
  height: 42px;
  display: flex;
  /* grid-template-columns: auto auto auto auto; */
  /* column-gap: 50px; */
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 10px;
  transition: all 750ms;
}

.nav-item {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  transition: all 0.2s;
  padding: 10px 20px;
}
.nav-item:hover {
  background: var(--color-secondary);
  font-weight: 700;
}
.delivery-btn {
  width: 145px;
  height: 42px;
  font-weight: 400;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
}
.delivery-btn:hover {
  background: var(--color-secondary);
  font-weight: 700;
}
