.sidebar_wrapper {
  width: 120px;
  height: 100vh;
  background: var(--color-primary);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.sidebar-header {
  height: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
